@import 'geral.css';

body {
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 80vh;
}

.instagram-phone {
    display: flex;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    width: 100%;
}

.instagram-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 22rem;
}

.logo {
    height: 6rem;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img {
    height: 6rem;
}

.login {
    background: var(--blue);
    color:#ffffff;
    padding: 8px;
    border-radius: 4px;
}

.logout {
    color: var(--blue);
    margin-top: 1rem;
}

.not-account {
    color: var(--dark-grey);
}

.not-account a {
    color: var(--blue);
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1.3rem 0;
}


.get-app {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.download img {
    width: 45%;
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 680px) {

    body {
        background: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-login {
        width: 100%;
    }

    .group {
        border: none;
    }
}